body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh; /* Use vh for viewport height */
    font-family: 'Fantasy', Papyrus;
    font-weight: bold;
    background-color: #fc5f5a;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Title {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100%; /* Increased width to full width for better centering */
    margin-top: 10px; /* Reduced margin-top to position video higher */
    z-index: -1;
}

#myVideo {
    width: 50%; /* Increased width to enlarge video size */
    height: auto; /* Maintain aspect ratio */
    display: block;
    position: relative;
}

.Actions {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%; 
    height: 10%;
    margin-top: 20px; /* Increased spacing from the video */
    background-color: #fc5f5a;
}

.Actions button {
    font-size: 16px; /* Increased font size for better visibility */
    cursor: pointer;
    border: 2px solid #fc5f5a;
    background-color: #fc5f5a;
    color: #fc5f5a;
    border-radius: 8px;
    transition: background-color 200ms, color 200ms;
    display: block; /* Center button */
    margin: 0 auto; /* Center button */
}